*.h5
*.csv
*.pyc
*.golds
*.preds
*.swp
*.tsv
.ipynb_checkpoints/*
notebooks/.ipynb_checkpoints/*
saved_models/*
bin/*
include/*
lib/*
share/*
pip-selfcheck.json
!mimicdata/ICD9_descriptions
mimicdata/mimic3/*
!mimicdata/mimic3/*_hadm_ids.csv
pretrained_weights/*
tokenizers/*
outputs/*

.vscode
